* {
    margin:0;
}

body {
    display:flexbox;
    width:100vw;
    justify-content: center;
    align-items: flex-start;
}

header {
    display: flex;
    width: 100%;
    height:100px;
    background-color: blueviolet;
    color:white;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding:5px;
}

main {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

}

.card {
    margin:20px;
    display:flex;
    justify-content: center;
    padding:10px;
    border: 2px blueviolet;
    background:cornflowerblue;
    width:60%;
    height:auto;

}